$name-font: "Roboto",sans-serif;
$city-font: "Roboto",sans-serif;
$text: #333;
$background: #383F4A;
$light-grey: #333;
$white:#fff;
$text-grey:#84898c;
$text-blue:#365899;
$text-light:#d6dee9;
$city-blue:#666;
$bkg-blue:#E2E4E8;
$mail-grey:#BBB;
$highlight:#00ffff;

/*************** End of COLOR STYLES ***************/